/* 
    Document   : styles.css
    Created on : 18/12/2011, 11:45:51 AM
    Author     : Geeta Nambiar
    Description: Overide jquery-ui.css and customise style
*/

ul.yiiPager .first, ul.yiiPager .last {
    display: inline !important;
}

#pa_details_left {
    
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 1px #AAAAAA;
    float:left;
    margin: 0 10px 10px 0;
}


#pa_details_right {
    float:left;
    width:300px;
    border: 1px;
    margin-left: 10px;
}


.grid-view-loading {
    background: url("loading.gif") no-repeat scroll 0 0 transparent;
}

.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 12px !important;
}

.ui-widget-header {
    background: url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #CCCCCC;
    border: 1px solid #AAAAAA;
    color: #222222;
    font-weight: bold;
}

.ui-tabs-panel ui-widget-content ui-corner-bottom {
    background: none repeat scroll 0 0 transparent;
    border-width: 0;
    display: block;

}


.ui-tabs .ui-tabs-panel {
    background: none repeat scroll 0 0 transparent;
    border-width: 0;
    display: block;
    padding: 0 !important;
    
}



ul.column-selector {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
    clip: rect(1px, 1000px, 1000px, -10px);
    display: none;
    list-style-type: none;
    max-height: 300px;
    overflow-y: scroll;
    padding: 0;
    position: absolute;
    z-index: 1000;
}
ul.column-selector li {
    padding: 2px 5px;
    width: 120px;
}
ul.column-selector li:last-child {
    padding-bottom: 5px;
}
ul.column-selector li:hover {
    background: none repeat scroll 0 0 #EEEEEE;
}
ul.column-selector input {
}

.grid-view {
    padding: 2px !important;
}

.grid-view .title-bar {
    display: block;
    padding-top: 4px !important;
}
.grid-view h3, .grid-view h2 {
    float: left;
    margin: 0 20px 0 0;
}
.grid-view table.items {
    border: 1px solid #CCCCCC;
    border-collapse: separate;
    border-radius: 4px 4px 4px 4px;
    clear: both;
    margin-top: 5px;
/*    table-layout: fixed;*/
    width: 100%;
}

table.detail-view {
    background: none repeat scroll 0 0 white;
    border-collapse: collapse;
    margin: 0;
    width: auto !important;
}


table.detail-view th {
    text-align: right;
    width: auto !important;
}

.grid-view table.items th {
/*    background: url("bg.gif") repeat-x scroll left top white;*/
    background: #6FACCF !important;
    background-color: #6FACCF !important;
    color: white;
    text-align: center;
}

.grid-view table.items th:first-child {
    border-left-width: 1px;
    border-radius: 4px 0 0 0;
}
.grid-view table.items th:last-child {
    border-radius: 0 4px 0 0;
}
.grid-view table.items tr td:first-child {
    border-left-width: 1px;
}
.grid-view table.items tr th:first-child, .grid-view table.items tr td:first-child {
    border-left: medium none;
}
.grid-view table.items tr:first-child th {
    border-top: medium none;
}
.grid-view table.items tbody tr:last-child td {
}
.grid-view table.items tbody tr:last-child td:first-child {
}
.grid-view table.items tbody tr:last-child td:last-child {
}
.grid-view table.items td, .grid-view table.items th {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px 0 0 1px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
    padding: 4px 5px;
    /* word-wrap: break-word; /*/
}
.grid-view table.items th {
    background: none repeat scroll 0 0 #EEEEEE;
    box-shadow: 0 1px 0 0 #FFFFFF inset;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    height: auto;
    margin: 0 2px;
    padding: 4px 0;
    text-align: center;
    text-decoration: none;
/*    width: auto;*/
}
.grid-view table.items thead tr:hover {
    background: none repeat scroll 0 0 transparent;
}
.grid-view table.items th a {
/*    background: url("arrow_both.png") no-repeat scroll right center transparent;*/
    color: #333333;
    display: block;
    font-size: 12px;
    padding: 0 12px 0 8px;
    text-decoration: none;
/*    width: auto;*/
}
.grid-view table.items th:hover {
    background-color: #F8F8F8;
}
.grid-view table.items th a.asc {
/*    background: url("arrow_up.png") no-repeat scroll right center transparent;*/
}
.grid-view table.items th a.desc {
/*    background: url("arrow_down.png") no-repeat scroll right center transparent;*/
}
.grid-view table.items tr.even {
}
.grid-view table.items tr.odd {
}
.grid-view table.items tr.selected {
}
.grid-view table.items tr:hover {
    background: none repeat scroll 0 0 #FBF5D9;
}
.grid-view .link-column img {
    border: 0 none;
}
.grid-view .button-column {
    text-align: center;
    width: 80px;
}
.grid-view .button-column img {
    border: 0 none;
}
.grid-view .checkbox-column {
}
.grid-view .summary {
    color: #555555;
    display: inline;
    float: right;
    margin: 2px 0 0 0 !important;
    font-size: 12px;
}
.grid-view .pager {
    margin: 5px 0 0;
    text-align: right;
}
.grid-view .empty {
    font-style: italic;
}
.grid-view .filters td {
    padding: 4px 5px !important;
}
.grid-view .filters input, .grid-view .filters select {
    margin: 0;
    padding: 0;
    width: 100%;
}